{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h2>Reset Password</h2>
</div>


<div class="card-body">
    <h3>Enter your new password, please</h3>
    <p>Enter your new password below. Make sure it's strong and secure.</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class ="button" type="submit" value="Reset Password" style="margin-left: 189px; margin-top: 7px; margin-bottom: 5px;"/>

    </form>

</div>




{% endblock content %}