{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div >
            <h2  style="margin-left: 125px; font-size: 23px;">You're Getting Things Done!</h2>
            <h4 style="margin-left: 165px;">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}</h4>
    </div>
    {% if request.user.is_authenticated %}

    <form action="{% url 'logout' %}" method="post" style="display:inline; margin-top:170px;">
        {% csrf_token %}
        <button type="submit" 
            style="
             background-color: #d6cb9d; 
             color: #000; 
             padding: 10px 20px; 
             border: none; 
             border-radius: 6px; 
             cursor: pointer; 
             font-size: 16px; 
             font-weight: semibold;
             
        "
            onmouseover="this.style.backgroundColor='#c0b585'"
            onmouseout="this.style.backgroundColor='#d6cb9d'">
            Logout
        </button>
    </form>


    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}


</div>





<style>
#id-link {
    display: inline-block;
    background-color: #b2b068; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-left: 447px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#id-link:hover {
    background-color: #7d8035; 
}
</style>

<div>
    <a  id="id-link" href="{% url 'task-create' %}">Add Task</a>
</div>





<h3 style="margin-left: 224px; align-content: center;">Your Flow</h3>
{% if tasks|length == 0 %}
    <h3 style="margin-bottom:20px ; margin-left: 196px; ">No tasks to show</h3>
    <div class="progress todo"></div>  

{% elif count == 0 %}
    <h3 style="margin-bottom:20px ; margin-left: 180px;">All tasks completed</h3>  
    <div class="progress done"></div>

{% elif count == tasks|length %}
    <h3 style="margin-bottom:20px ; margin-left: 246px; padding-bottom: 30px; align-content: center;">To do</h3>
    <div class="progress todo"></div> 

{% elif count < tasks|length %}
    <h3 style="margin-bottom:20px ; margin-left: 185px;">In Progress to do</h3>
    <div class="progress in-progress"></div>  
{% endif %}



<div class = "task-items-wrapper">
    {% for task in tasks %}
    <div class ="task-wrapper">
        {% if task.complete %}
        <div class ="task-title">
            <div class = "task-complete-icon"></div>
            <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
        </div>
        <a class = "delete-link" href= "{% url 'task-delete' task.id %}">&#215;</a>

        {% else %}
        <div class ="task-title">
            <div class = "task-incomplete-icon"></div>
            <a href="{% url 'task-update' task.id %}">{{task}}</a>
        </div>
        <a class = "delete-link" href= "{% url 'task-delete' task.id %}">&#215;</a>
        {% endif %}
        
    </div>


    {% empty %}
    {% endfor %}


</div>


{% endblock content %}
